## .NET
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

## NuGet
*.nupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## User-specific files
*.rsuser
*.userprefs

## IDE
.idea/
*.sln.docstates
